.about__container{
     outline: 2px solid black;
    height: 20rem;
    place-items: center;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    top: 3rem;
}


.about__me-image{
    overflow: hidden;
    transform: rotate(10deg);
    transition: var(--transition);
    margin-right: 3rem;
}

.about__me-image:hover{
    
    transform: rotate(0);
}

.about__cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
    width: 100px;
}


.about__card__agent{
    background-color: rgba(0,0,0,0.3);;
}

.about__icon{
    
    color: var(--color-primary);
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

.about__content p{
    
    font-size: 1rem;
    color: #000;
    width: 400px;
    font-weight: 300;
}

.about__content h5{
    font-size: 1.5rem;
    margin-top: .5rem;
}




 /* ===================MEDIUM DEVICES=======================*/

 @media screen and (max-width: 1024px)  {
 
}

/* ===================SMALL DEVICES=======================*/

@media screen and (max-width: 600px)  {
    .about__me-image{
        display: none;
    }

   



}