
header{
    outline: 2px solid black;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
video{
    -o-object-fit: cover;
    object-fit: contain;
    -o-object-position: center;
    object-position: center;
}

.header__video{
    background-size: 100% 50%;
}
.header__container{
    display: grid;
    place-items: center;
    grid-template-columns: 35% 50%;
    gap: 20%;
}

.agents__header, .agents__image{
    position: absolute;
    top: 0;
    flex-direction: column;
}

.agents__image{
    height: 50%;
    margin-top: 5rem;
}

.h1__font{
    color: white;
    font-size: 3rem;
    font-weight: 1000;
}

.wrapper{
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 10px;
}

/* ===================MEDIUM DEVICES=======================*/

@media screen and (max-width: 1024px)  {
    .h1__font{
        font-size: 2rem;
    }
}

/* ===================SMALL DEVICES=======================*/

@media screen and (max-width: 600px)  {
    .h1__font{
        font-size: 1rem;
    }
}