.main__container{
    outline: 2px solid black;
    height: 30rem;
}

.sub__container{
    height: 30rem;
    position: relative;
    justify-content: center;
    align-items: center;
    overflow: auto;
}

.video___bg video{
    position: absolute;
    -o-object-fit: cover;
    object-fit: contain;
}


.agents__header{
    left: 20%;
    position: absolute;
    z-index: 1000;
    top: 0;
    flex-direction: column;
    
}

.agents__image{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    flex-direction: column;
    margin-top: -450px;
}

.h1__font{
    color: white;
    font-size: 2rem;
    font-weight: 1000;
}

.wrapper{
    left: 40%;
    transform: translateX(-60%);
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 10px;
    
}

.agents__info{
    color: white;
    position: absolute;
    margin-top: -400px;
    margin-left: 60%;
    font-weight: 300;
    font-size: 0.9rem;
}

.about__card{
    border: 1px solid transparent;
    border-radius: 1rem;
    padding: 2rem;
    text-align: left;
    transition: var(--transition);
    width: 18rem;
}

.about__card:hover{
    background: rgb(172, 63, 63);
    border-color: var(--color-primary-variant);
    cursor: default;
}

.about__card h5{
    font-size: 1.5rem;
    margin-bottom: .5rem;
}

.about__card small{
    font-size: 0.7rem;
    color: var(--color-light);
    margin: .2rem;
}

.about__content p{
    font-size: 1rem;
    margin: 2rem 0 2.6rem;
    color: var(--color-light);
}

/* ===================MEDIUM DEVICES=======================*/

@media screen and (max-width: 1024px)  {
    .wrapper{
        left: 30%;
        transform: translateX(-40%);
    }
}

/* ===================SMALL DEVICES=======================*/

@media screen and (max-width: 600px)  {
    .wrapper{
        left: 30%;
        transform: translateX(-60%);
    }
}